version: '3.8'

services:
  postgres:
    image: postgres:latest
    environment:
      POSTGRES_USER: chess_user
      POSTGRES_PASSWORD: chess_password
      POSTGRES_DB: chess_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql

  redis:
    image: redis:latest
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

volumes:
  postgres_data:
  redis_data:
